parameters:
	ignoreErrors:
		-
			message: "#^Method DiamondStrider1\\\\DiamondDatas\\\\ClassInfo\\:\\:getProps\\(\\) return type with generic interface DiamondStrider1\\\\DiamondDatas\\\\attributes\\\\IValueType does not specify its types\\: T$#"
			count: 1
			path: src/DiamondStrider1/DiamondDatas/ClassInfo.php

		-
			message: "#^PHPDoc tag @var for variable \\$inject contains generic class DiamondStrider1\\\\DiamondDatas\\\\attributes\\\\ListType but does not specify its types\\: T$#"
			count: 1
			path: src/DiamondStrider1/DiamondDatas/ClassInfo.php

		-
			message: "#^PHPDoc tag @var for variable \\$inject contains generic interface DiamondStrider1\\\\DiamondDatas\\\\attributes\\\\IValueType but does not specify its types\\: T$#"
			count: 1
			path: src/DiamondStrider1/DiamondDatas/ClassInfo.php

		-
			message: "#^PHPDoc tag @var for variable \\$other contains generic interface DiamondStrider1\\\\DiamondDatas\\\\attributes\\\\IValueType but does not specify its types\\: T$#"
			count: 1
			path: src/DiamondStrider1/DiamondDatas/ClassInfo.php

		-
			message: "#^Property DiamondStrider1\\\\DiamondDatas\\\\ClassInfo\\:\\:\\$cache with generic class DiamondStrider1\\\\DiamondDatas\\\\ClassInfo does not specify its types\\: T$#"
			count: 1
			path: src/DiamondStrider1/DiamondDatas/ClassInfo.php

		-
			message: "#^Property DiamondStrider1\\\\DiamondDatas\\\\ClassInfo\\:\\:\\$props with generic interface DiamondStrider1\\\\DiamondDatas\\\\attributes\\\\IValueType does not specify its types\\: T$#"
			count: 1
			path: src/DiamondStrider1/DiamondDatas/ClassInfo.php

		-
			message: "#^Method DiamondStrider1\\\\DiamondDatas\\\\attributes\\\\ListType\\:\\:setType\\(\\) has parameter \\$type with generic interface DiamondStrider1\\\\DiamondDatas\\\\attributes\\\\IValueType but does not specify its types\\: T$#"
			count: 1
			path: src/DiamondStrider1/DiamondDatas/attributes/ListType.php

		-
			message: "#^PHPDoc tag @var for variable \\$inject contains generic interface DiamondStrider1\\\\DiamondDatas\\\\attributes\\\\IValueType but does not specify its types\\: T$#"
			count: 2
			path: src/DiamondStrider1/DiamondDatas/attributes/ObjectType.php

